* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, p, button{
    margin: 3rem;
}
p {
    font-size: 1.2rem;
}

button {
    background-color: green;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    &:hover {
        background-color: rgb(4, 90, 4);
    }
}
#formJugar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
#inputJuegos {
    height: 2rem;
    width: 10rem;
    
}
#resultado {
    font-size: 1.3rem;
    padding: 2rem;
}
#resultadoFinal {
    font-weight: bold;
    font-size: 2rem;
}